# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
/media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store

# Migrations (optional — keep them unless you know what you're doing)
# */migrations/*
# !*/migrations/__init__.py

# Logs
*.log
