{% extends 'base.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
  <div class="filters">
    <input type="text" id="name-search" placeholder="Search by name.."/>
    <div class="tags-list">
      {% for tag in tags%}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
