{% extends 'base.html' %}
{% load static %}

{% block title %}
  Project
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}" />
{% endblock %}

{% block content %}
  <div class="project-card">
    <div class="project-info">
      <h1>{{project.title}}</h1>
      <p><a href="{{project.link}}">Project link</a></p>
      <p>{{project.description}}</p>
      <a href="{% url 'home' %}">Back to Home</a>
    </div>
    <div class="carousel">
      <div class"carousel-images">
        {% for image in project.images.all %}
        <div class="carousel-item">
          <img src="{{image.image.url}}" alt="Project image" />
        </div>
        {% endfor %}
      </div>
      <a class="corousel-control prev" onclick="moveSlide(-1)">&#10094;</a>
      <a class="corousel-control next" onclick="moveSlide( 1)">&#10095;</a>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/project.js' %}"></script>
{% endblock %}
