{% extends 'base.html' %}
{% load static %}

{% block title %}
  Project
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}" />
{% endblock %}

{% block content %}
  <div class="project-card">
    <div class="project-info">
      <h1>{{project.title}}</h1>
      <p><a href="{{project.link}}">Project link</a></p>
      <p>{{project.description}}</p>
      <a href="{% url 'home' %}">Back to Home</a>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/project.js' %}"></script>
{% endblock %}
